footer{
    display: flex;
    gap: 24px;
    padding-block: 24px;
    font: 14px/150% var(--font-family);
}

footer span:nth-child(1){
    margin-right: auto;
}


@media (max-width: 700px) {
    footer{
        flex-direction: column;
        gap: 8px;
    }

    footer span:nth-child(1){
        margin-right: 0;
    }
}