header {
    padding-block: 32px;

    font: var(--text-md);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

#profile {
    display: flex;
    
    gap: 32px;
}

#profile > div{
    max-width: 384px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#profile img{
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1{
    font: var(--text-lg);
    color: var(--text-color-primary);
    white-space: nowrap;
    margin-bottom: 8px;
}


#info {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 280px;
}

#info li{
    display: flex;
    align-items: center;
    gap: 8px;
}


@media (max-width: 960px) {
    header .container{
        flex-direction: column;
        align-items: flex-start;
    }

    #info{
        width: 100%;
    }
}

@media (max-width: 700px) {
    #profile{
        width: 100%;
        flex-direction: column;
        gap: 16px;
    }

    #profile img{
        width: 120px;
        height: 120px;
    }

    #profile h1{
        font-size: 1.75rem;
        white-space: normal;
    }
}